h1{
    color:pink;
    margin-left: 10px;
}

.header *{
    border:solid
}
    .Simran{
        display:flex;
        border:solid;
        justify-content:space-evenly;
    }
    .My_items{
        background-color: pink ;
    }
    a:link{
        color:red;
    }
    a:visited{
        color:green;
    }
    .My_items a{
        margin-left: 20px;
    }
    .AlexanderMariner{
        position: relative;
    }
    .AlexanderMariner p{
           position: absolute;
           top: 50%;
           left: 50%; 
           transform: translate(-50%,-50%);
           opacity:0;
    }
    .AlexanderMariner:hover p{
        opacity:1;
    }
    .AlexanderMariner:hover img{
         opacity: 0.33;
    }
    .grid{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
        border:solid;                                  
        color:green;
    }
    .AlexanderMariner{
        display:flex;
        justify-content:space-evenly;
        border:solid;
        color:red;
    }
    .footer{
        display:flex;
        justify-content:flex-end;
        border:solid;
        color:pink;
    }
    body{
        background-color: rgb(255,255,200);
    } 
    .grid img{
        border: 2px solid #000000;
        border-radius:50px;
    }
    .origami {
        border-radius: 20px;
        background-color: #ffffff;
        padding: 30px;
        margin:25px;
        width:310px
        font-family:  fantesy;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        background-color: #0000000;
        font-size: 20px;
        padding:20px;
        font-family: sans-serif;
        font-weight: 400px;
        color: #ffffff;
    }
    body{
        margin:0px;
        background-color: #f7f2f2;

    }



    


